<div class="container">
  <!-- Main -->
  <section>
    <div class="page main-info" fxLayout="column" fxLayoutAlign="center center">
      <div class="main-info-content" fxLayout="column" fxLayoutAlign="center center">
        <h1>Kfir Eichenblat</h1>
        <ul>
          <li>
            <h3>Full-Stack Software Developer</h3>
          </li>
          <li>
            <h3>UX enthusiast</h3>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- My fields of expertise -->
  <section>
    <div class="page experience">
      <div class="page-title-container">
        <span class="page-title">EXPERIENCE</span>
      </div>

      <div class="experience-cards-container" fxLayout="row" fxLayoutAlign="top space-around" fxLayoutGap="30px"
           fxLayout.lt-lg="column">
        <div class="card" fxFlex="50">
          <div class="card-image">
            <img src="assets/img/certificate.svg" />
          </div>
          <div class="card-title">
            Professional Experience
          </div>
          <div class="card-content">
            5 years of professional experience, working on large projects with small teams, using:
            <ul>
              <li>
                C#, WPF
                <ul>
                  <li>
                    Creating beautiful and performant views
                  </li>
                  <li>
                    Hundreds of hours spent profiling CPU and memory
                  </li>
                  <li>
                    Countless of multi-use user controls written
                  </li>
                </ul>
              </li>
              <li>
                Python
                <ul>
                  <li>
                    Backend logic
                  </li>
                  <li>
                    Integration with other libraries and teams
                  </li>
                  <li>
                    Inter-process communications using various technologies, including: ZMQ, rpyc and ZeroC-Ice.
                  </li>
                </ul>
              </li>
              <li>
                MongoDB
                <ul>
                  <li>
                    Used to store an enormous variety of data types
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="card" fxFlex="50">
          <div class="card-image">
            <img src="assets/img/open-book.svg" />
          </div>
          <div class="card-title">
            Self Taught
          </div>
          <div class="card-content">
            I have used many languages and frameworks over the past 9 years. Here's some of them:

            <ul>
              <li>
                Angular
                <ul>
                  <li>
                    1 year of recent experience
                  </li>
                  <li>
                    Plenty of HTML and CSS
                  </li>
                  <li>
                    Integration with Firebase as a backend
                  </li>
                </ul>
              </li>
              <li>
                NodeJS
                <ul>
                  <li>
                    1 year of recent experience
                  </li>
                  <li>
                    Dozens of REST API endpoints
                  </li>
                </ul>
              </li>
              <li>
                PHP, ASP.NET and MSSQL
                <ul>
                  <li>
                    Commercial freelance web development
                  </li>
                  <li>
                    High school projects
                  </li>
                  <li>
                    Freeware / sites that showcase my freeware
                  </li>
                </ul>
              </li>
              <li>
                Java for Android
                <ul>
                  <li>
                    Basic apps written from scratch
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section>
    <div class="page portfolio">
      <div class="page-title-container">
        <span class="page-title">PORTFOLIO</span>
      </div>

      <div class="portfolio-cards-container" fxLayout="row" fxLayoutAlign="top space-around"
           fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center center">
        <div class="card" fxFlex.gt-md="50">
          <div class="card-image">
            <app-photo-slide [images]="['assets/img/sample-1.jpg', 'assets/img/sample-2.jpg', 'assets/img/sample-3.jpg']"></app-photo-slide>
          </div>
          <div class="card-title">
            Doakes Helper
          </div>
          <div class="card-content">
            <p>
              So far, this is my proudest after-hours project. It has accumulated more than 25,000 unique users over the lifespan of 4+
              years.
              To this date, this desktop serves as a companion app for many GTA SA-MP players.
            </p>
            <p>
              Users have donated over $300 to support the project, submitted bug reports and even uploaded YouTube videos
              that showcase or explain it.
            </p>
          </div>
          <div class="card-tags">
            <ul>
              <li>Windows Desktop App</li>
              <li>C#</li>
              <li>WPF</li>
              <li>Full Stack</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
