<div class="container">
  <!-- Main -->
  <section>
    <div class="page main-info">
      <div class="main-info-content">
        <div class="title">
          <div class="photo-with-name-container">
            <img class="profile-photo" src="assets/img/profile-photo.jpg">

            <div>
              <h1>
                Kfir Eichenblat
              </h1>
              <h3>
                Full Stack Engineer
              </h3>
            </div>
          </div>
          <h2>
            <app-typewriter [texts]="profileTexts" caretColor="white"></app-typewriter>
          </h2>
        </div>
        <div class="technologies">
          <app-horizontal-photo-stack
            [interval]="1500"
            [photos]="['assets/img/tech/html.svg', 'assets/img/tech/js.svg', 'assets/img/tech/css.svg', 'assets/img/tech/angular.svg', 'assets/img/tech/nodejs.svg', 'assets/img/tech/csharp.svg', 'assets/img/tech/python.svg']">
          </app-horizontal-photo-stack>
        </div>
      </div>
    </div>
  </section>

  <!-- My fields of expertise -->
  <section>
    <div class="page experience">
      <div class="page-title-container">
        <span class="page-title">EXPERIENCE</span>
      </div>

      <div class="experience-cards-container">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/certificate.svg" />
          </div>
          <div class="card-title">
            Professional Experience
          </div>
          <div class="card-content">
            5 years of professional experience, working on large scale projects with small teams, using:
            <ul>
              <li>
                C#, WPF
                <ul>
                  <li>
                    Creating beautiful and performant views
                  </li>
                  <li>
                    Hundreds of hours spent profiling CPU and memory
                  </li>
                  <li>
                    Countless of multi-use components written
                  </li>
                </ul>
              </li>
              <li>
                Python
                <ul>
                  <li>
                    Backend logic
                  </li>
                  <li>
                    Integration with other libraries and teams
                  </li>
                  <li>
                    Inter-process communications using various technologies, including: ZMQ, rpyc and ZeroC-Ice.
                  </li>
                </ul>
              </li>
              <li>
                MongoDB
                <ul>
                  <li>
                    Used to store an enormous variety of data types
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="assets/img/open-book.svg" />
          </div>
          <div class="card-title">
            Self Taught
          </div>
          <div class="card-content">
            I have used many languages and frameworks over the past 10 years. Here's some of them:

            <ul>
              <li>
                Angular
                <ul>
                  <li>
                    Plenty of HTML and CSS
                  </li>
                  <li>
                    Integration with Firebase as a backend
                  </li>
                </ul>
              </li>
              <li>
                NodeJS
                <ul>
                  <li>
                    Dozens of REST API endpoints with Express
                  </li>
                  <li>
                    JWT and session based authentications
                  </li>
                </ul>
              </li>
              <li>
                PHP, ASP.NET and MSSQL
                <ul>
                  <li>
                    1 commercial freelance web development
                  </li>
                  <li>
                    High school projects
                  </li>
                  <li>
                    Freeware and sites that showcase my freeware
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio -->
  <section>
    <div class="page portfolio">
      <div class="page-title-container">
        <span class="page-title">PORTFOLIO</span>
      </div>

      <div class="portfolio-cards-container">
        <div *ngFor="let project of projects" class="project-card-container">
          <app-project [project]="project" [maxPriority]="projects.length"
            (projectPriorityChanged)="onProjectPriorityChanged($event)"></app-project>
        </div>
      </div>
    </div>
  </section>
</div>
