<div class="container">
  <img class="current-image" [src]="currentImage">

  <div class="dots-container" *ngIf="images.length > 1">
    <div class="dot" *ngFor="let image of images">
      <div (click)="changeCurrentImage(image)" [ngClass]="currentImage === image ? 'current-dot circle' : 'circle'">
      </div>
    </div>
  </div>

  <div class="timer" *ngIf="images.length > 1" [@photoLoaded]="{value: isLoadingNextImage ? 'start' : 'end', params: {duration: interval}}" (@photoLoaded.done)="reanimate($event)"></div>
</div>
