@import "../../scss/responsive";

.container {
  position: relative;
}

.dots-container {
  position: absolute;
  bottom: 5px;
  text-align: center;
  width: 100%;
}

.dot {
  display: inline;
  margin: 0px 10px;
}

.dot svg {
  width: 2em;
  height: 2em;
}

.dot circle {
  fill: #000;
  opacity: 0.75;

  /* hover */
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 1;
      fill: #666;
    }
  }

  &:active,
  &.current-dot {
    fill: white;
  }
}

.current-image {
  display: block;
  width: 730px;
  height: 410px;

  @media #{$mobile_device} {
    width: 100%;
    height: auto;
  }
}

.timer {
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
